<% if @user && @user.errors.any?%>
  <% @user.errors.full_messages.each do |error| %>
    <p><%= error %></p>
  <% end %>
<% end %>

<h1>Register</h1>
<form action="/users" method="post">
  <div>
    <label for="email">Email:</label>
    <input type="text" name="email" id="email" value="<%=@user && @user.email%>">
  </div>
  <div>
    <label for="password">Password:</label>
    <input type="text" name="password" id="password">
  </div>
  <div>
    <input type="submit" value="Submit">
  </div>
</form>